{{ define "main" }}
<section class="list-page">
  <div class="container">
    <h1 class="list-page-heading">All Episodes</h1>
    <div class="featured-list">
      {{ range (where (where .Site.RegularPages "Section" "blog") ".Params.audio" "ne" nil).ByDate.Reverse }}
      <div class="featured-item">
        {{ with .Params.image }}
        <div class="featured-image">
          <a href="{{ $.RelPermalink }}"><img src="{{ . }}" alt="{{ $.Title }}" loading="lazy"></a>
        </div>
        {{ end }}
        <div class="featured-content">
          <div class="podcast-ep-label">Episode</div>
          <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
          <p>{{ .Summary | truncate 180 }}</p>
          <a href="{{ .RelPermalink }}" class="btn-read">Listen</a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
